:root {
  --PRIMARY-COLOR: #add8e6;
  --BG-NAV: #d3d3d3;
  --BG-COLOR: #EEEEEEE;
  --TYPOGRAPHY: #fff;

  --FONT-FAMILY-1: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--FONT-FAMILY-1);
  color: var(--TYPOGRAPHY);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 0.5em;
}

/* HEADER */

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

/* NAV */
.nav {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-links li {
  margin: 0 10px;
  font-size: 16px;
}

.nav-links li a {
  color: #333333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: #007bff;
}

.searchForm {
  position: relative;
  margin: 0;
}

.searchForm label {
  display: none;
}

.searchForm input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f8f9fa;
  width: 200px;
  transition: all 0.3s ease;
}

.searchForm input:focus {
  width: 300px;
}

@media screen and (max-width: 768px) {
  .nav-wrapper {
    flex-direction: column;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .searchForm {
    margin-top: 10px;
  }
}

/* HOME */
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* CARDS */

.card {
  width: 300px;
  height: 400px;
  background-color: rgba(46, 117, 188, 0.576);
  text-align: center;
  margin-top: 3rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.158);
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.no-image {
  border-radius: 50vw;
  margin: 1rem 0;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* ADD NEW USER */
.newPost {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
}

.newPostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-top: 1rem;
}

input {
  margin-top: 0.5rem;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #005ea6;
}

@media screen and (max-width: 768px) {
  .newPost {
    height: 100vh;
  }
}

@media screen and (max-width: 480px) {
  .newPost {
    height: auto;
    padding: 2rem;
  }

  .newPostForm {
    max-width: 400px;
  }
}

/* USER PAGE */

.userPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.userContent {
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  min-width: 500px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.details h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.details button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #ff4d4d;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.details button:hover {
  background-color: #ff3333;
}

/* FOOTER */
.footer {
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  bottom: 0;
  width: 100%;
}

.footer p {
  font-size: 14px;
  text-align: center;
}

/* NOT FOUND PAGE */
.missing {
  text-align: center;
  font-size: 2rem;
}

.missing h2 {
  margin-bottom: 1rem;
}

.missing a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.missing a:hover {
  color: #0056b3;
  text-decoration: underline;
}
